<title>MaliciousMetal.com under construction.</title><div id="container">
	Hey Metalheads, Mark of the Beast here. MaliciousMetal.com is currently going through a major reconstruction. As a result, you're currently viewing this crappy page. I'll have the metal show calendar up very soon while we wait for the new site to develop. In the meantime, <h3>Listen to Malicious Intent Sunday 9-Midnight.</h3>To listen online, go here: <br><br>

	<a href="http://173.45.231.37:8000/stream_high.m3u">Live Online Stream</a><br><br>
	<img src="/images/blackmetalguy.jpg">
		
</div>

<%= juggernaut %>


	<ul id="chat_data" style="list-style:none">
	</ul>

 <%= form_remote_tag(
	:url => { :action => :send_data },
	:complete => "$('chat_input').value = ''" ) %>
	
	<%= text_field_tag( 'chat_input', '', { :size => 20, :id => 'chat_input'} ) %>
<%= submit_tag "Add" %>
	</form>